@media only screen and (min-width: 1200px){
    .topheadermargin {
        margin-top: 74px;
    }
}

@media only screen and (min-width: 1180px){
    .topheadermargin {
        margin-top: 74px;
    }
  
}

        
@media only screen and (max-width: 767px)
{
    .topheadermargin {
        margin-top: 80px!important;
    }
    .ui.container {
        overflow-x: auto
    }
}

